= form_for [@conference,@attendee] do |f|
  .errors= @attendee.errors.full_messages.join(", ")
  %label{ :for => 'name' } Name:
  = f.text_field :name
  %label{ :for => 'email' } Email:
  = f.text_field :email, :type=>:email
  = f.submit 
  = link_to 'or return to list', conferences_url